header {
    background: #018686;
    position: fixed;
    width: 100%;
    top: 0;
}

.navBar-caixa {
    padding: 10px;
    padding-left: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 32px;
    background: #ffffff;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.navBar-clock {
    margin-right: 50px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}